<a *ngFor="let tutorial of tutorials" 
   class="card shadow-sm text-decoration-none text-dark"
   [routerLink]="['/tutorials', tutorial.tutorialId]">
  <div class="card-body">
    <h5 class="card-title">{{ tutorial.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ tutorial.category }}</h6>
    <p class="card-text">{{ tutorial.description }}</p>

    <ul class="list-inline mb-2">
      <li class="list-inline-item"><strong>Author:</strong> {{ tutorial.authorName }}</li>
      <li class="list-inline-item"><strong>Views:</strong> {{ tutorial.views }}</li>
      <li class="list-inline-item"><strong>Likes:</strong> {{ tutorial.likes }}</li>
    </ul>
  </div>
</a>
