name: Build, test, and deploy Node.js app to Azure Web App - tutorialplatform

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: 'tutorialplatform' # Name of the Azure Web App
  AZURE_WEBAPP_PACKAGE_PATH: 'expressServer/out/src/' # Path to the app package within the repository
  AZURE_WEBAPP_SLOT: 'Production' # Slot name for deployment
  NODE_VERSION: 22

jobs:
  build-and-test:
    runs-on: windows-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build --if-present

      - name: Run unit tests
        run: npm run test --if-present --workspace=expressServer

      - name: Run linter
        run: npm run lint --if-present
    
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: .

  deploy:
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout
    runs-on: windows-latest
    needs: build-and-test

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          slot-name: ${{ env.AZURE_WEBAPP_SLOT }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}

      - name: Logout of Azure
        run: |
          az logout