name: Node.js CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      WORKING_DIRECTORY: HowTo

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: npm install

      - name: Compile TypeScript
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: npx tsc

      - name: Lint code
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: npx eslint . --ext .ts
